{% extends 'boilerplate.html' %} {% block body %}

<!-- displaying chapters -->

<h1 class="text-center mt-2">
  Chapters for <span class="title">{{ subject.name }}</span>
</h1>
<p class="text-center mt-2 signup-msg">
  Subject Description - {{subject.description}}
</p>

<div class="container sub-con">
  <div class="row subject-row">
    {% for chapter in chapters %}
    <div class="col-2 each-sub mt-3">
      <a
        href="{{ url_for('quizzes_list', chapter_name=chapter.name, subject_name=chapter.subject.name) }}"
        ><img
          src="{{url_for('static', filename='assets/iscellaneous_icons_9.svg')}}"
          class="subject_folder"
          style="width: 50%; margin-left: 20px"
      /></a>
      <br />
      <a
        href="{{ url_for('quizzes_list', chapter_name=chapter.name, subject_name=chapter.subject.name) }}"
        ><b>{{ chapter.name }}</b></a
      >
      <span
        ><form
          method="POST"
          class="d-flex justify-content-center mt-2"
          action="{{ url_for('delete_Chapter', chapter_id=chapter.id, chapter_name=chapter.name) }}"
        >
          <button type="submit" class="btn btn-outline-danger btn-sm">
            Delete Chapter
          </button>
        </form></span
      >
    </div>
    <br />
    {% else %}
    <p>No chapters found for this subject.</p>
    {% endfor %}
  </div>
</div>

<!-- adding chapter -->
<div class="d-flex justify-content-center mt-5">
  <!-- add subject -->
  <a href="{{ url_for('addChapter', subject_name=subject.name) }}" class="mt-5"
    ><button class="btn btn-outline-success">Add New Chapter</button></a
  >
  &nbsp;&nbsp;&nbsp;
  <!-- edit subject -->
  <a
    href="{{ url_for('edit_subject', subject_name=subject.name) }}"
    class="mt-5"
    ><button class="btn btn-outline-success">Edit Subject</button></a
  >
  &nbsp;&nbsp;&nbsp;
  <!-- delete subject -->
  <form
    action="{{ url_for('delete_Subject', subject_id=subject.id, subject_name=subject.name) }}"
    method="POST"
  >
    <button type="submit" class="btn btn-outline-danger mt-5">
      Delete this Subject
    </button>
  </form>
</div>
{% endblock %}
