{% extends "boilerplate.html" %} {% block body %}

<!-- hero section -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid d-flex">
    <div>
      <img
        src="{{url_for('static', filename='assets/q-solid-icon.svg')}}"
        style="width: 10%; filter: invert(1)"
      /><a class="navbar-brand mx-3">Gradely</a>
    </div>

    <form class="d-flex">
      {%if 'user_id' not in session%}
      <a href="/login"
        ><button class="btn btn-outline-success" type="button">Login</button></a
      >
      &nbsp;&nbsp;&nbsp;
      <a href="/signup"
        ><button class="btn btn-outline-success" type="button">
          Signup
        </button></a
      >
      {%endif%} {% if 'user_id' in session %}
      <a href="/profile"
        ><button class="btn btn-outline-success" type="button">
          Profile
        </button></a
      >
      &nbsp;&nbsp;&nbsp;
      <a href="/logout"
        ><button class="btn btn-outline-danger" type="button">Logout</button></a
      >
      {% endif %}
    </form>
  </div>
</nav>
<div class="landing text-center">
  <h1>Welcome to <span class="title">GRADELY !!</span></h1>
  <p class="signup-msg">Your GoTo Quiz App...</p>
  {% if session['user_id'] != 1 %}
  <a href="{{ url_for('userDashboard') }}" class="btn btn-dark"
    >Go Back to Dashboard</a
  >
  {% else %}
  <a href="{{ url_for('adminDashboard') }}" class="btn btn-dark"
    >Go Back to Dashboard</a
  >
  {% endif %}
</div>

{% endblock %}
