{% extends 'boilerplate.html' %} {% block body %}
<h2 class="text-center mt-4">📊 Your Past Quiz Scores</h2>

<div class="container mt-4 sub-con">
  <div class="table-responsive">
    <table class="table table-striped table-hover text-center rounded-4">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Quiz Title</th>
          <th>Marks Scored</th>
          <th>Total Marks</th>
          <th>%age</th>
        </tr>
      </thead>
      <tbody>
        {% for attempt in past_scores %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ attempt.quiz.title }}</td>
          <td>
            <span
              class="badge {% if attempt.score >= (attempt.total * 0.8) %} bg-success {% elif attempt.score >= (attempt.total * 0.5) %} bg-warning {% else %} bg-danger {% endif %}"
            >
              {{ attempt.score }}
            </span>
          </td>
          <td>{{attempt.total}}</td>
          <td>{{ (attempt.score / attempt.total * 100) | round(2) }}%</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="mt-4 d-flex justify-content-center align-items-center">
    <a href="{{ url_for('userDashboard') }}" class="btn btn-dark"
      >Go Back to Dashboard</a
    >
  </div>
</div>
{% endblock %}
