{% extends 'boilerplate.html' %} {% block body %}

<!-- displaying chapters -->

<h1 class="text-center mt-2">
  Chapters for <span class="title">{{ subject.name }}</span>
</h1>
<p class="text-center mt-2 signup-msg">
  Subject Description - {{subject.description}}
</p>

<div class="container sub-con">
  <div class="row subject-row-card">
    {% for chapter in chapters %}
    <a
      href="{{ url_for('chapter_quizzes', chapter_id=chapter.id, subject_id=chapter.subject.id) }}"
      class="text-decoration-none col-6"
    >
      <div
        class="card shadow-lg rounded-4 d-flex flex-row align-items-center mt-2 mb-2 mx-3"
        style="
          max-width: 600px;
          background-color: #e7e7e7;
          border: none;
          transition: transform 0.3s ease;
        "
        onmouseover="this.style.transform='scale(1.05)'"
        onmouseout="this.style.transform='scale(1)'"
      >
        <!-- Image Section -->
        <div class="col-4 p-3">
          <img
            src="../static/assets/chapter_icon_user.svg"
            alt="Chapter Image"
            class="img-fluid"
          />
        </div>
        <!-- Content Section -->
        <div class="col-8 p-3">
          <h5 class="card-title fw-bold mb-2" style="color: #4c4c6d">
            {{ chapter.name }}
          </h5>
          <p class="card-text mb-3" style="color: #8a8aab; font-size: 14px">
            {{ chapter.description }}
          </p>
          <p class="mb-0" style="color: #6b6b90; font-size: 12px">
            Created by <span class="fw-semibold">Admin</span>
          </p>
        </div>
      </div>
    </a>
    {% else %}
    <div class="alert alert-warning text-center" role="alert">
      No chapters found.
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
